:root {
    --item-size: 6em;
    --splitter-gap: .75em;
}

.plant-holder-tile {
    height: calc(100% - 2em);
    width: calc(100% - 2em);
    display: flex;
    padding: 1em;
    flex-direction: column;
    background-color: var(--grass-light-green);
}

.result-common-name {
    display: flex;
    place-items: center;
    gap: .5em;
    font-size: 1.1em;
    font-weight: bold;
    flex-shrink: 1;
    flex-grow: 1;
}

h1,
h2,
h3,
h4 {
    all: unset;
}

.splitter {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: var(--splitter-gap);
    min-width: 0;
    width: 100%;
}

.result-scientific-name {
    font-style: italic;
    margin-top: -.95em;
}

.result-common-name,
.result-scientific-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    overflow: hidden;
    width: calc(100% - 64px - var(--splitter-gap));
}

.result-property {
    width: fit-content;
}

.result-property {
    margin-bottom: 0;
}

.symbolAndShadeRow {
    display: flex;
    gap: .25em;
    place-items: center;
}

.info-btn {
    background-color: transparent;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--wood-dark-brown);
}

.info-icon {
    color: var(--wood-dark-brown);
}

.last-row {
    display: flex;
    margin-top: .15em;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-icon {
    transform: translateY(.5em);
}

.mini-map .county.present {
    fill: #4caf50;
}

.mini-map {
    width: 100%;
    flex: 1;
    min-height: 0;
}

.state-mesh,
.mini-map .mesh,
.mini-map .nation-border {
    fill: none;
}

.mini-map .county.present,
.mini-map .mesh {
    stroke: var(--wood-brown);
    stroke-width: 0.2;
}

.state-mesh,
.mini-map .nation-border {
    stroke: var(--wood-dark-brown);
    stroke-width: .45;
}

.img {
    display: block;
    width: fit-content;
    max-width: 100%;
    object-fit: contain;
}

.credits {
    margin: 0 .2em;
}

.img-container {
    max-height: calc(var(--item-height) - 4em);
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: -1em;
    margin-right: -1em;
    position: relative;
}

.img-btn {
    z-index: 2;
    width: 5em;
    top: 0;
    bottom: 0;
    background-color: transparent;
    position: absolute;
    padding: 0;
    border: none;
}

.img-btn-prev {
    left: 0;
    margin-right: 0;
}

.img-btn-next {
    right: 0;
    margin-left: 0;
}

.img-btn-next>* {
    transform: rotate(180deg);
}

.img-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.img-container-empty {
    flex: 0;
    max-height: 0;
    overflow: hidden;
}

.icon-link {
    flex-shrink: 0;
}