<section class="plant-holder" id="plant-holder-{{plant.acceptedSymbol}}">

    <span class="splitter">
        <h3 class="result-common-name" id="plant-common-name-{{plant.acceptedSymbol}}">{{plant.commonName | titlecase}}
        </h3>
        <a target="_blank" rel="noopener noreferrer" [href]="usdaGovPlantProfileUrl + plant.acceptedSymbol"
            [attr.aria-label]="'USDA_PROFILE_LINK' | transloco : {plantCommonName: plant.commonName | titlecase, plantAcceptedSymbol: plant.acceptedSymbol}"
            id="plant-abbreviation-{{plant.acceptedSymbol}}">{{plant.acceptedSymbol}}</a>
    </span>
    <span class="result-scientific-name" id="plant-scientific-name-{{plant.acceptedSymbol}}">{{plant.scientificName
        |titlecase}}</span>

    @if(!showMap){
    @if(showImage()){
    <div class="img-container" id="img-container-{{plant.acceptedSymbol}}">
        <!-- TODO custom element with swiping / click capability for swiping between images -->
        <button [disabled]="!imageReady()" class="img-btn img-btn-prev" id="img-btn-prev-{{plant.acceptedSymbol}}"
            (click)="prevImage()" [style.cursor]="imageReady() ? 'pointer' : 'default'"
            [attr.aria-label]="'PREVIOUS_IMG' | transloco">
            <app-icon stroke="white" name="arrow"></app-icon>
        </button>

        <img class="img" id="plant-img-{{plant.acceptedSymbol}}" [src]="src()" [srcset]="srcset()"
            [style.cursor]="imageReady() ? 'pointer' : 'default'" [attr.loading]="isPriority ? 'eager' : 'lazy'"
            [attr.fetchpriority]="isPriority ? 'high' : 'auto'" decoding="async" sizes="240px"
            (click)="openFullscreen(img)" (keydown.enter)="openFullscreen(img)" #img crossorigin="anonymous"
            [alt]="'PLANT_TILE_COMPONENT.PICTURE_ALT_TEXT' | transloco : {commonName: plant.commonName, scientificName: plant.scientificName, family: plant.family}"
            tabindex="0">

        <button [disabled]="!imageReady()" class="img-btn img-btn-next" id="img-btn-next-{{plant.acceptedSymbol}}"
            (click)="nextImage()" [style.cursor]="imageReady() ? 'pointer' : 'default'"
            [attr.aria-label]="'NEXT_IMG'|transloco">
            <app-icon stroke="white" name="arrow"></app-icon>
        </button>

    </div>
    }
    @else{
    @if(plant.growthHabit.size > 0)
    {

    <span class="result-property" id="plant-growth-habit-{{plant.acceptedSymbol}}">
        @for (key of growthHabitKeys; track key; let last = $last) {
        {{ key | transloco }}@if (!last) {, }
        }
    </span> }

    @if(plant.activeGrowthPeriod.length > 0){
    <span class="result-property" id="active-season-{{plant.acceptedSymbol}}">
        {{ plant.activeGrowthPeriod.join(', ') }}
    </span>
    }

    @if(plant.duration !== null){
    <span class="result-property" id="duration-{{plant.acceptedSymbol}}">{{plantDuration}}
    </span>
    }

    @if(plant.shapeAndOrientation !== null){
    <span class="result-property" id="shape-orientation-{{plant.acceptedSymbol}}">
        {{plant.shapeAndOrientation}}
    </span>
    }
    }

    }
    @else {
    <svg #map [attr.viewBox]="viewBox" class="mini-map" role="img"
        [attr.aria-label]="'NATIVE_REGION_MAP_PLANT_LABEL' | transloco : {plantCommonName: plant.commonName | titlecase} ">
        <!-- nation border (render first, below everything) -->
        <use href="#nation-border" class="nation-border" />
        <!-- base mesh -->
        <use href="#county-mesh" class="mesh" />

        <use href="#state-mesh" class="state-mesh" />

        <!-- highlight counties for this plant -->
        @for(countyFip of combinedCountyFips; track countyFip){
        <use [attr.href]="'#county-' + countyFip" class="county present" />
        }
    </svg>
    }

    <div class="last-row" [style.margin-top]="src() !=='' && src() !== null && src() !== undefined ? '.1em' : 'auto'"
        id="last-row-{{plant.acceptedSymbol}}">
        <button class="info-btn" id="info-btn-{{plant.acceptedSymbol}}" (click)="openInfoPage()"
            [attr.aria-label]="'PLANT_OVERVIEW' | transloco" [tooltip]="'PLANT_OVERVIEW' | transloco">
            <app-icon class="info-icon" name="help" aria-hidden="true"></app-icon>
        </button>

        @if(this.validCredits){
        <a class="credits" id="credits-{{plant.acceptedSymbol}}" target="_blank" rel="noopener noreferrer license"
            [attr.aria-label]="this.fullImageCredits" [href]="'https://www.inaturalist.org/people/' + observerId">
            {{this.fullImageCredits}}
        </a>
        }

        @if(!showMap){
        <button class="info-btn" id="map-btn-{{plant.acceptedSymbol}}" (click)="showMap = true"
            [attr.aria-label]="'NATIVE_REGION_MAP' | transloco" [tooltip]=" 'NATIVE_REGION_MAP' | transloco">
            <app-icon class="map-icon" name="location_marker" aria-hidden="true"></app-icon>
        </button>
        }
        @else {
        <button class="info-btn" id="back-btn-{{plant.acceptedSymbol}}" [tooltip]="'BACK' | transloco"
            [attr.aria-label]="'BACK' | transloco" (click)="showMap = false">
            <app-icon class="map-icon" name="undo" aria-hidden="true"></app-icon>
        </button>
        }
    </div>
</section>