<!-- HACK Base County Plant tile map ref -->
@defer(on idle){
<svg width="0" height="0" style="position:absolute; pointer-events:none;" aria-hidden="true">
    <defs>
        <!-- individual counties -->
        @for(c of countiesPaths$ | async; track c.id){
        <path [attr.id]="'county-' + c.id" [attr.name]="c.name" [attr.d]="c.d" />
        }

        <!-- base county mesh -->
        <path id="county-mesh" class="mesh county-mesh"
            [attr.d]="mapService.countyMeshPath$(PLANT_TILE_MAP_WIDTH, PLANT_TILE_MAP_HEIGHT) | async" />

        <path id="state-mesh" class="state-mesh"
            [attr.d]="mapService.stateMeshPath$(PLANT_TILE_MAP_WIDTH, PLANT_TILE_MAP_HEIGHT) | async" />

        <!-- nation border -->
        <path id="nation-border"
            [attr.d]="mapService.nationBorderPath$(PLANT_TILE_MAP_WIDTH, PLANT_TILE_MAP_HEIGHT) | async" />

    </defs>
</svg>
}

<!-- TODO convert search / filter to popout sidebar? -->

<div class="plant-search-container">
    <plant-search class="plant-search" (filteredDataBatch)="updatePlantData($event)" #plantSearch
        (filterInProgress$)="clearData($event)" style="width:100%"></plant-search>
</div>



@if(plantData().length > 0){
<section class="container" id="container">
    <cdk-virtual-scroll-viewport gridScroll #gridScroll="gridScroll" [rowHeight]="rowHeight" [columns]="columns"
        [gutterSize]="gutterSize" [buffer]="3" class="gov-container-scrollport">
        <div class="plant-grid" [style]="gridScroll.gridStyles">
            <plant-tile *cdkVirtualFor="let plant of plantData$; trackBy: trackByPlant; let i = index;"
                class="plant-holder" [plant]="plant" [isPriority]="isPlantPriority(i)">
            </plant-tile>
        </div>
    </cdk-virtual-scroll-viewport>
</section>
}

@if(plantSearch.filterInProgress$ | async){
    <span class="loading" id="loading">
        <!-- TODO make better -->
         {{'LOADING' | transloco}}
    </span>
}