<header id="nav-bar" class="nav-bar">
    <div class="title-container">
        <img class="app-icon" [attr.width]="36" [attr.height]="36" src="/assets/sprout.svg" aria-hidden="true"
            [alt]="'APP_ICON' | transloco" />
        <h2 class="title">{{'TITLE' | transloco}}</h2>
    </div>
    <nav class="link-container" [attr.aria-label]="'NAVIGATION' | transloco">
        <a class="text" [routerLink]="''" routerLinkActive #searchLink="routerLinkActive"
            [routerLinkActiveOptions]="{ exact: false }" [attr.aria-current]="searchLink.isActive ? 'page' : null">
            {{'SEARCH' |
            transloco}}</a>
        <a class="text" [routerLink]="Route.aboutRoute" routerLinkActive #aboutLink="routerLinkActive"
            [attr.aria-current]="aboutLink.isActive ? 'page' : null">{{'ABOUT' | transloco}}</a>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>