:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--wood-brown);
}

a:visited {
    color: rebeccapurple;
}

.title-container,
.link-container {
    display: inline-flex;
    gap: .5em;
}

.title-container {
    place-items: center;
    flex-grow: 1;
}

.title {
    font-size: clamp(1rem, 2cqi, 2.5rem);
}

.text {
    font-size: clamp(.75rem, 1cqi, 1.5rem);
}

h2 {
    margin: 0;
    padding: 0;
}

.nav-bar {
    position: static;
    padding-left: var(--nav-bar--width-padding);
    padding-right: var(--nav-bar--width-padding);
    display: inline-flex;
    container-type: inline-size;
    white-space: nowrap;
    justify-content: space-between;
    height: 40px;
    width: calc(100% - 2 * var(--nav-bar--width-padding));
    font-size: 1.2em;
    align-items: center;
    background-color: var(--wood-light-brown);
}

[ngMenuTrigger],
[ngMenu]{
    background-color: var(--grass-light-green);
}

[ngMenuTrigger]{
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: none;
    border-radius: 0.5em;
    border: .15em solid var(--wood-dark-brown);
    width: fit-content;
}

[ngMenu] {
    margin: 0;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: .15em solid var(--wood-dark-brown);
    font-weight: bold;
}

[ngMenu][data-visible='false'] {
    display: none;
}

[ngMenuItem] {
    outline: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    font-size: 0.875em;
    justify-content: space-between;
}

[ngMenuItem]:first-of-type {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

[ngMenuItem]:last-of-type {
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

[ngMenuTrigger]:hover,
[ngMenuItem][data-active='true'] {
    background: var(--grass-green);
}

.menu-trigger-btn{
    margin-left:.5em;
}

.chosen-item {
    cursor: pointer;
    background-color: var(--wood-light-brown);
}