.container {
  background-color: var(--grass-light-green);
  padding-bottom: 2em;
}

.text {
  margin: 0;
}

h1 {
  margin: 0;
}

.header {
  padding: 1em 0 1em 0;
  text-align: center;
}

.key-value-list {
  list-style: none;
}

.mini-map .county.present {
    fill: #4caf50;
}

.mini-map .mesh, .mini-map .nation-border {
    fill: none;
}

.mini-map .county.present, .mini-map .mesh{
    stroke: var(--wood-brown);
    stroke-width: 0.2;
}

.mini-map .nation-border {
    stroke: var(--wood-dark-brown);
    stroke-width: .6;
}