<!-- TODO swap to using angular aria tabs pattern for better organization -->
<section class="container">
    @if(plant() !== null){
    <h1 class="header">{{'PLANT_OVERVIEW_HEADER' | transloco: {plantCommonName: plant().commonName | titlecase,
        plantScientificName: plant().scientificName | titlecase} }} (<a target="_blank" rel="noopener noreferrer"
            [attr.aria-label]="'USDA_PROFILE_LINK' | transloco : {plantCommonName: plant().commonName | titlecase, plantAcceptedSymbol: plant().acceptedSymbol}"
            [href]="usdaGovPlantProfileUrl + plant().acceptedSymbol"
            id="plant-abbreviation-{{plant().acceptedSymbol}}">{{plant().acceptedSymbol}}</a>
        @if(plant().taxonId !== null && plant().taxonId !== undefined){ |
        <a [href]="iNaturalistObservationUrl + plant().taxonId " target="_blank" rel="noopener noreferrer"
            [attr.aria-label]="'INATURALIST_OBSERVATION_LINK' | transloco : {plantCommonName: plant().commonName | titlecase, plantTaxonId: plant().taxonId}"
            id="plant-taxon-id-{{plant().taxonId}}">
            {{plant().taxonId}}
        </a>
        })
    </h1>

    <div ngTabs>
        <ul ngTabList [(selectedTab)]="selectedTab">
            <li ngTab value="Overview">
                {{'PLANT_OVERVIEW' | transloco}}
            </li>
            <li ngTab value="Map">
                {{'NATIVE_REGION_MAP' | transloco}}
            </li>
            <li ngTab value="Images">
                {{'IMAGES' | transloco}}
            </li>
        </ul>

        <div class="sliding-window">
            <div ngTabPanel value="Overview" [preserveContent]="true">
                <ng-template ngTabContent>
                    <ul class="key-value-list">
                        @for(item of plant() | keyvalue; track item.key){
                        @if(item.key !== 'photos' && item.value){
                        <li class="text"><strong>{{item.key | camelSplit | titlecase}}</strong>:
                            {{isIterableNotString(item.value) ? getIterableString(item.value) : item.value}}
                        </li>
                        }
                        }
                    </ul>
                </ng-template>

            </div>
            <div ngTabPanel value="Map" [preserveContent]="true">
                <ng-template ngTabContent>
                    <!-- TODO zoomable county map -->
                    @if(isBrowser){
                    <h2 class="subheader">{{'PLANT_OVERVIEW_NATIVE_REGION_HEADER' | transloco}}</h2>
                    <svg class="mini-map" [attr.viewBox]="'0 0 ' + PLANT_MAP_WIDTH + ' ' + PLANT_MAP_HEIGHT" role="img"
                        [attr.aria-label]="'NATIVE_REGION_MAP_PLANT_LABEL' | transloco : {plantCommonName: plant().commonName  | titlecase}"
                        preserveAspectRatio="xMidYMid meet">
                        <!-- individual counties -->
                        @for(c of countiesPaths$ | async; track c.id){
                        <path [attr.id]="'county-' + c.id" [attr.name]="c.name" [attr.d]="c.d" class="county"
                            [tooltip]="c.name"
                            [class]="c.id !== undefined && plant().combinedCountyFIPs.includes(c.id.toString()) ? 'present' : ''" />
                        }

                        <!-- base county mesh -->
                        <path id="county-mesh"
                            [attr.d]="mapService.countyMeshPath$(PLANT_MAP_WIDTH, PLANT_MAP_HEIGHT) | async"
                            class="mesh" />

                        <path id="state-mesh"
                            [attr.d]="mapService.stateMeshPath$(PLANT_MAP_WIDTH, PLANT_MAP_HEIGHT) | async"
                            class="state-mesh" />

                        <!-- nation border -->
                        <path id="nation-border"
                            [attr.d]="mapService.nationBorderPath$(PLANT_MAP_WIDTH, PLANT_MAP_HEIGHT) | async"
                            class="nation-border" />
                    </svg>
                    }
                </ng-template>

            </div>

            <div ngTabPanel value="Images" [preserveContent]="true">
                <ng-template ngTabContent>
                    @if(plant().photos != null && plant().photos!.length > 0){
                    <div class="img-container" [class.img-container-empty]="!src()"
                        id="img-container-{{plant().acceptedSymbol}}" tabindex="0" 
                        (keydown.arrowleft)="prevImage()"
                        (keydown.arrowright)="nextImage()">
                        <button [class.hidden]="!imageReady()" [disabled]="!imageReady()" class="img-btn img-btn-prev"
                            id="img-btn-prev-{{plant().acceptedSymbol}}" (click)="prevImage()"
                            [style.cursor]="imageReady() ? 'pointer' : 'default'"
                            [attr.aria-label]="'PREVIOUS_IMG' | transloco">
                            <app-icon stroke="white" name="arrow"></app-icon>
                        </button>

                        @if(!showImage()){
                        <app-loader></app-loader>
                        }

                        <img class="img" id="plant-img-{{plant().acceptedSymbol}}" [src]="src()" [srcset]="srcset()"
                            [class.hidden]="!showImage()" (load)="onImageLoad()"
                            [style.cursor]="imageReady() ? 'pointer' : 'default'" loading="eager" fetchpriority="high"
                            decoding="async"
                            sizes="(max-height: 600px) min(500px, 100vw), (max-height: 1600px) min(1080px, 100vw), min(2048px, 100vw)"
                            (click)="openFullscreen(img)" (keydown.enter)="openFullscreen(img)" #img
                            crossorigin="anonymous" (error)="invalidateSrc()"
                            [alt]="'PLANT_TILE_COMPONENT.PICTURE_ALT_TEXT' | transloco : {commonName: plant().commonName, scientificName: plant().scientificName, family: plant().family}"
                            tabindex="0">

                        <button [class.hidden]="!imageReady()" [disabled]="!imageReady()" class="img-btn img-btn-next"
                            id="img-btn-next-{{plant().acceptedSymbol}}" (click)="nextImage()"
                            [style.cursor]="imageReady() ? 'pointer' : 'default'"
                            [attr.aria-label]="'NEXT_IMG'|transloco">
                            <app-icon stroke="white" name="arrow"></app-icon>
                        </button>

                    </div>
                    <a class="credits" id="credits-{{plant().acceptedSymbol}}" target="_blank"
                        rel="noopener noreferrer license" [attr.aria-label]="this.fullImageCredits"
                        [href]="'https://www.inaturalist.org/people/' + observerId">
                        {{this.fullImageCredits}}
                    </a>
                    }
                    @else{
                    {{'NO_IMAGES' | transloco}}
                    }
                </ng-template>
            </div>

        </div>
    </div>
    }
</section>