<!-- TODO swap to using angular aria accordion pattern for better organization -->
<!-- https://angular.dev/guide/aria/accordion#lazy-content-rendering -->
<section class="container">
    @if(plant() !== null){
    <h1 class="header">{{'PLANT_OVERVIEW_HEADER' | transloco: {plantCommonName: plant().commonName | titlecase,
        plantScientificName: plant().scientificName | titlecase} }} (<a target="_blank" rel="noopener noreferrer"
            [href]="usdaGovPlantProfileUrl + plant().acceptedSymbol"
            id="plant-abbreviation">{{plant().acceptedSymbol}}</a>)
    </h1>

    <!-- TODO zoomable county map -->
    @if(isBrowser){
    <h2 class="subheader">{{'PLANT_OVERVIEW_NATIVE_REGION_HEADER' | transloco}}</h2>
    <svg class="mini-map" [attr.viewBox]="'0 0 ' + PLANT_MAP_WIDTH + ' ' + PLANT_MAP_HEIGHT"
        preserveAspectRatio="xMidYMid meet">
        <!-- individual counties -->
        @for(c of countiesPaths$ | async; track c.id){
        <path [attr.id]="'county-' + c.id" [attr.name]="c.name" [attr.d]="c.d" class="county" [tooltip]="c.name"
            [ngClass]="c.id !== undefined && plant().combinedCountyFIPs.includes(c.id.toString()) ? 'present' : ''" />
        }

        <!-- base county mesh -->
        <path id="county-mesh" [attr.d]="mapService.countyMeshPath$(PLANT_MAP_WIDTH, PLANT_MAP_HEIGHT) | async"
            class="mesh" />

        <path id="state-mesh" [attr.d]="mapService.stateMeshPath$(PLANT_MAP_WIDTH, PLANT_MAP_HEIGHT) | async"
            class="state-mesh" />

        <!-- nation border -->
        <path id="nation-border" [attr.d]="mapService.nationBorderPath$(PLANT_MAP_WIDTH, PLANT_MAP_HEIGHT) | async"
            class="nation-border" />
    </svg>
    }

    <!-- TODO make collapsible component with header for reuse in separating the overview stuff -->

    <ul class="key-value-list">
        @for(item of plant() | keyvalue; track item.key){
        <li class="text"><b>{{item.key | camelSplit | titlecase}}</b>:
            {{isIterableNotString(item.value) ? getIterableString(item.value) : item.value}}
        </li>
        }
    </ul>
    }
</section>