:host {
  display: flex;
  justify-content: center;
}

.container {
  background-color: var(--grass-light-green);
  padding-bottom: 2em;
  width: 100%;
}

.text {
  margin: 0;
}

h1 {
  margin: 0;
}

.header {
  padding: 1em 0 1em 0;
  text-align: center;
}

.subheader {
  text-align: center;
}

.key-value-list {
  list-style: none;
}

.mini-map {
  width: 100%;
  height: auto;
  fill: none;
}

.mini-map .mesh,
.mini-map .nation-border .county {
  fill: none;
}

.county.present {
  fill: #4caf50;
}


.mini-map .county.present,
.mini-map .mesh {
  stroke: var(--wood-brown);
  stroke-width: 0.5;
}

.mini-map .nation-border,
.state-mesh {
  stroke: var(--wood-dark-brown);
  stroke-width: 1;
}


[ngTabs] {
  overflow: hidden;
  width: 100%;
  border-radius: 0.5rem;
  border-top: 1px solid color-mix(in srgb, var(--wood-brown) 40%, transparent);
}

[ngTabList] {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  position: relative;
  border-bottom: 1px solid color-mix(in srgb, var(--wood-brown) 40%, transparent);
}

[ngTab] {
  flex: 1;
  outline: none;
  padding: 0.75rem 0;
  cursor: pointer;
  text-align: center;
  color: color-mix(in srgb, var(--wood-brown) 60%, transparent);
}

[ngTab][aria-selected='false']:focus {
  outline-offset: -8px;
  border-radius: 0.7rem;
  outline: 2px solid var(--grass-light-green);
}

[ngTab]:hover {
  background-color: color-mix(in srgb, var(--grass-green) 25%, transparent);
}

[ngTab][aria-selected='true'] {
  color: black;
  background-color: var(--wood-light-brown);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.sliding-window {
  width: 300%;
  display: flex;
  transition: all 0.2s ease-in-out;
}

[ngTabList]:has([ngTab]:nth-child(1)[aria-selected='true'])~.sliding-window {
  transform: translateX(0%);
}

[ngTabList]:has([ngTab]:nth-child(2)[aria-selected='true'])~.sliding-window {
  transform: translateX(-33.333%);
}

[ngTabList]:has([ngTab]:nth-child(3)[aria-selected='true'])~.sliding-window {
  transform: translateX(-66.666%);
}

[ngTabPanel] {
  display: grid;
  place-items: center;
  padding: 1rem;
  min-height: 100px;
  flex: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

[ngTabPanel]:focus {
  outline-offset: -4px;
  border-radius: 0.5rem;
  outline: 2px solid var(--grass-light-green);
}

.img {
  display: block;
  width: fit-content;
  max-width: calc(100% - 2 * var(--tile-padding));
  object-fit: contain;
}

.credits {
  font-size: .9em;
  margin: 0 .2em;
}

.img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 4em;
  width: 75%;
  margin-bottom: 1em;
}

.img-btn {
  border: solid .1em var(--wood-brown);
  z-index: 2;
  width: 5em;
  top: 0;
  bottom: 0;
  background-color: transparent;
  position: absolute;
  padding: 0;
  border-radius: .5em;
}

.img-btn-prev {
  left: 0;
  margin-right: 0;
}

.img-btn-next {
  right: 0;
  margin-left: 0;
}

.img-btn-next>* {
  transform: rotate(180deg);
}

.hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.img-container-empty {
  flex: 0;
  max-height: 0;
  overflow: hidden;
}