.container {
  background-color: var(--grass-light-green);
  padding-bottom: 2em;
}

.text {
  margin: 0;
}

h1 {
  margin: 0;
}

.header {
  padding: 1em 0 1em 0;
  text-align: center;
}

.subheader {
  text-align: center;
}

.key-value-list {
  list-style: none;
}

.mini-map {
  width: 100%;
  height: auto;
  fill: none;
}

.mini-map .mesh,
.mini-map .nation-border .county {
  fill: none;
}

.county.present {
  fill: #4caf50;
}


.mini-map .county.present,
.mini-map .mesh {
  stroke: var(--wood-brown);
  stroke-width: 0.5;
}

.mini-map .nation-border,
.state-mesh {
  stroke: var(--wood-dark-brown);
  stroke-width: 1;
}