/* eslint-disable css/use-baseline */
h2,
h1 {
    margin: 0;
}

#plant-search-container {
    gap: .5em;
    display: flex;
    width: 100%;
    align-items: flex-start;
    text-align: center;
    container-type: inline-size;
}

.filter-title-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: .3em;
    flex-wrap: wrap;
}

.filter-title {
    font-weight: 600;
    font-size: clamp(1rem, 2cqi, 3rem);
    align-content: center;
}


.searchbar {
    align-self: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.row {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.row,
.col,
.search-container {
    display: flex;
    gap: 2px;
}

.search-container {
    text-align: left;
}

.col {
    flex-direction: column;
    max-width: 450px;
}

.sortOrderButton {
    background-color: var(--grass-light-green);
    color: black;
    font-weight: bold;
    width: 6ch;
    padding: .5ch;
    margin: 0;
}

.selector {
    width: 100%;
}

.label {
    font-weight: bold;
}

.sort-label {
    flex-grow: 1;
}

.sort-label-row {
    display: inline-flex;
}

.sort-container {
    align-items: center;
}

.input-counties {
    background-color: var(--grass-light-green);
    width: min(100%, 32ch);
    max-width: 40ch;
    font-weight: 600;
    text-overflow: ellipsis;
    margin-left: .3em;
    font-size: clamp(1rem, 2cqi, 3rem);
}

[ngCombobox]:has([aria-expanded='false']) .popup {
    display: none;
}

[ngListbox] {
    gap: .1em;
    height: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    background-color: var(--grass-green);
}

[ngOption] {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 1rem;
    min-height: 2em;
}

[ngOption]:not(:last-child) {
    border-bottom: .1em solid var(--wood-dark-brown);
}

[ngOption][aria-selected='true'] {
    background-color: var(--grass-light-green);
}

.county-popup {
    max-height: 12em;
    font-size: .9em;
    width: 100%;
}