<section id="plant-search-container">
    <div class="col">
        <input type="text" name="searchbar" id="searchbar" #searchBar (input)="search(searchBar.value)"
            [placeholder]="'SEARCHBAR_PLACEHOLDER' | transloco" class="searchbar" (focus)="searchBar.select()">
        <div class="row">
            <button class="menu-trigger-btn" ngMenuTrigger #filterMenuTrigger #filterTrigger="ngMenuTrigger"
                [menu]="filterMenu()">{{'FILTERS' |
                transloco}}</button>
            <ng-template [cdkConnectedOverlayOpen]="filterTrigger.expanded()"
                [cdkConnectedOverlay]="{origin: filterMenuTrigger, usePopover: 'inline'}"
                [cdkConnectedOverlayPositions]="[
    {originX: 'start', originY: 'bottom', overlayX: 'start', overlayY: 'top', offsetY: 4},
  ]" cdkAttachPopoverAsChild>
                <div class="menu" id="filter-menu" ngMenu #filterMenu="ngMenu"
                    (itemSelected)="onFilterItemSelected($event)">
                    <ng-template ngMenuContent>
                        <div class="menu-item" value="duration" ngMenuItem #durationItem [submenu]="durationMenu()"
                            [class.chosen-item]="duration() !== undefined">
                            <span class="label">{{'DURATION' | transloco}}</span>
                            <app-icon class="menu-arrow" stroke="white" name="arrow"></app-icon>
                        </div>

                        <ng-template [cdkConnectedOverlayOpen]="filterMenu.visible()"
                            [cdkConnectedOverlay]="{origin: durationItem , usePopover: 'inline'}"
                            [cdkConnectedOverlayPositions]="[
          {originX: 'end', originY: 'top', overlayY: 'top', overlayX: 'start', offsetX: 6},
        ]" cdkAttachPopoverAsChild>
                            <div class="menu" id="duration-menu" ngMenu #durationMenu="ngMenu">
                                <ng-template ngMenuContent>
                                    @for(durationValue of durations; track durationValue){
                                    <div ngMenuItem [value]="getFilterItem('duration', durationValue)"
                                        class="submenu-item" [class.chosen-item]="duration() === durationValue">
                                        <span class="label">{{'DURATIONS.' + durationValue | uppercase |
                                            transloco}}</span>
                                    </div>
                                    }
                                </ng-template>
                            </div>
                        </ng-template>
                        <div role="separator" aria-orientation="horizontal" class="separator"></div>

                        <div class="menu-item" value="growthHabits" ngMenuItem #growthHabitItem
                            [class.chosen-item]="growthHabit() !== undefined" [submenu]="growthHabitMenu()">
                            <span class="label">{{'GROWTH_HABIT' | transloco}}</span>
                            <app-icon class="menu-arrow" stroke="white" name="arrow"></app-icon>
                        </div>

                        <ng-template [cdkConnectedOverlayOpen]="filterMenu.visible()"
                            [cdkConnectedOverlay]="{origin: growthHabitItem , usePopover: 'inline'}"
                            [cdkConnectedOverlayPositions]="[
          {originX: 'end', originY: 'top', overlayY: 'top', overlayX: 'start', offsetX: 6},
        ]" cdkAttachPopoverAsChild>
                            <div class="menu" id="growth-habit-menu" ngMenu #growthHabitMenu="ngMenu">
                                <ng-template ngMenuContent>
                                    @for(growthHabitValue of growthHabits; track growthHabitValue){
                                    <div ngMenuItem [value]="getFilterItem('growthHabit', growthHabitValue)"
                                        class="submenu-item"
                                        [class.chosen-item]="growthHabit() === growthHabitValue">
                                        <span class="label">{{'GROWTH_HABITS.' + growthHabitValue | uppercase |
                                            transloco}}</span>

                                    </div>
                                    }
                                </ng-template>
                            </div>
                        </ng-template>

                        <div role="separator" aria-orientation="horizontal" class="separator"></div>

                        <div class="menu-item" value="toxicity" ngMenuItem #toxicityItem [submenu]="toxicityMenu()"
                            [class.chosen-item]="toxicity() !== undefined">
                            <span class="label">{{'TOXICITY' | transloco}}</span>
                            <app-icon class="menu-arrow" stroke="white" name="arrow"></app-icon>
                        </div>

                        <ng-template [cdkConnectedOverlayOpen]="filterMenu.visible()"
                            [cdkConnectedOverlay]="{origin: toxicityItem , usePopover: 'inline'}"
                            [cdkConnectedOverlayPositions]="[
          {originX: 'end', originY: 'top', overlayY: 'top', overlayX: 'start', offsetX: 6},
        ]" cdkAttachPopoverAsChild>
                            <div class="menu" id="toxicity-menu" ngMenu #toxicityMenu="ngMenu">
                                <ng-template ngMenuContent>
                                    @for(toxic of toxicities; track toxic){
                                    <div ngMenuItem [value]="getFilterItem('toxicity', toxic)" class="submenu-item"
                                        [class.chosen-item]="toxicity() === toxic">
                                        <span class="label">{{'TOXICITIES.' + toxic | uppercase | transloco}}</span>
                                    </div>
                                    }
                                </ng-template>
                            </div>
                        </ng-template>

                        <div role="separator" aria-orientation="horizontal" class="separator"></div>

                        <div class="menu-item" value="flowerColor" ngMenuItem #flowerColorItem
                            [class.chosen-item]="flowerColor() !== undefined" [submenu]="flowerColorMenu()">
                            <span class="label">{{'FLOWER_COLOR' | transloco}}</span>
                            <app-icon class="menu-arrow" stroke="white" name="arrow"></app-icon>
                        </div>
                        <ng-template [cdkConnectedOverlayOpen]="filterMenu.visible()"
                            [cdkConnectedOverlay]="{origin: flowerColorItem , usePopover: 'inline'}"
                            [cdkConnectedOverlayPositions]="[
          {originX: 'end', originY: 'top', overlayY: 'top', overlayX: 'start', offsetX: 6},
        ]" cdkAttachPopoverAsChild>
                            <div class="menu" id="flower-color-menu" ngMenu #flowerColorMenu="ngMenu">
                                <ng-template ngMenuContent>
                                    @for(color of colors; track color){
                                    <div ngMenuItem [value]="getFilterItem('flowerColor', color)" class="submenu-item"
                                        [class.chosen-item]="flowerColor() === color">
                                        <span class="label">{{'COLORS.' + color | uppercase | transloco}}</span>
                                    </div>
                                    }
                                </ng-template>
                            </div>
                        </ng-template>

                        <div role="separator" aria-orientation="horizontal" class="separator"></div>

                        <div class="menu-item" value="foliageColor" ngMenuItem #foliageColorItem
                            [submenu]="foliageColorMenu()" [class.chosen-item]="foliageColor() !== undefined">
                            <span class="label">{{'FOLIAGE_COLOR' | transloco}}</span>
                            <app-icon class="menu-arrow" stroke="white" name="arrow"></app-icon>
                        </div>
                        <ng-template [cdkConnectedOverlayOpen]="filterMenu.visible()"
                            [cdkConnectedOverlay]="{origin: foliageColorItem , usePopover: 'inline'}"
                            [cdkConnectedOverlayPositions]="[
          {originX: 'end', originY: 'top', overlayY: 'top', overlayX: 'start', offsetX: 6},
        ]" cdkAttachPopoverAsChild>
                            <div class="menu" id="foliage-color-menu" ngMenu #foliageColorMenu="ngMenu">
                                <ng-template ngMenuContent>
                                    @for(color of colors; track color){
                                    <div ngMenuItem [value]="getFilterItem('foliageColor', color)" class="submenu-item"
                                        [class.chosen-item]="foliageColor() === color">
                                        <span class="label">{{'COLORS.' + color | uppercase | transloco}}</span>
                                    </div>
                                    }
                                </ng-template>
                            </div>
                        </ng-template>

                        <div role="separator" aria-orientation="horizontal" class="separator"></div>

                        <div class="menu-item" ngMenuItem value="shadeTolerance" #shadeToleranceItem
                            [submenu]="shadeToleranceMenu()" [class.chosen-item]="shadeTolerance() !== undefined">
                            <span class="label">{{'SHADE_TOLERANCE' | transloco}}</span>
                            <app-icon class="menu-arrow" stroke="white" name="arrow"></app-icon>
                        </div>

                        <ng-template [cdkConnectedOverlayOpen]="filterMenu.visible()"
                            [cdkConnectedOverlay]="{origin: shadeToleranceItem, usePopover:'inline'}"
                            [cdkConnectedOverlayPositions]="[
          {originX: 'end', originY: 'top', overlayY: 'top', overlayX: 'start', offsetX: 6},
        ]" cdkAttachPopoverAsChild>
                            <div class="menu" ngMenu #shadeToleranceMenu="ngMenu" id="shade-tolerance-menu">
                                <ng-template ngMenuContent>
                                    @for(shade of shadeTolerances; track shade){
                                    <div class="submenu-item" ngMenuItem
                                        [value]="getFilterItem('shadeTolerance', shade)"
                                        [class.chosen-item]="shadeTolerance() === shade">
                                        <span class="label">{{'SHADE_TOLERANCES.' + shade | uppercase |
                                            transloco}}</span>
                                    </div>
                                    }
                                </ng-template>
                            </div>

                        </ng-template>

                        <div role="separator" aria-orientation="horizontal" class="separator"></div>

                        <div class="menu-item" ngMenuItem value="lifespan" #lifespanItem [submenu]="lifespanMenu()"
                            [class.chosen-item]="lifespan() !== undefined">
                            <span class="label">{{'LIFESPAN' | transloco}}</span>
                            <app-icon class="menu-arrow" stroke="white" name="arrow"></app-icon>
                        </div>

                        <ng-template [cdkConnectedOverlayOpen]="filterMenu.visible()"
                            [cdkConnectedOverlay]="{origin: lifespanItem, usePopover: 'inline'}"
                            [cdkConnectedOverlayPositions]="[
          {originX: 'end', originY: 'top', overlayY: 'top', overlayX: 'start', offsetX: 6},
        ]" cdkAttachPopoverAsChild>

                            <div class="menu" ngMenu #lifespanMenu="ngMenu" id="lifespan-menu">
                                <ng-template ngMenuContent>
                                    @for(life of lifespans; track life){
                                    <div class="submenu-item" ngMenuItem [value]="getFilterItem('lifespan', life)"
                                       [class.chosen-item]="lifespan()===life">
                                        <span class="label">{{'LIFESPANS.' + life | uppercase |
                                            transloco}}</span>
                                    </div>
                                    }
                                </ng-template>
                            </div>
                        </ng-template>

                        <div role="separator" aria-orientation="horizontal" class="separator"></div>

                        <div class="menu-item" ngMenuItem value="growthRate" #growthRateItem
                            [submenu]="growthRateMenu()" [class.chosen-item]="growthRate() !== undefined">
                            <span class="label">{{'GROWTH_RATE' | transloco}}</span>
                            <app-icon class="menu-arrow" stroke="white" name="arrow"></app-icon>
                        </div>

                        <ng-template [cdkConnectedOverlayOpen]="filterMenu.visible()"
                            [cdkConnectedOverlay]="{origin: growthRateItem, usePopover:'inline'}"
                            [cdkConnectedOverlayPositions]="[
          {originX: 'end', originY: 'top', overlayY: 'top', overlayX: 'start', offsetX: 6},
                        ]" cdkAttachPopoverAsChild>
                            <div class="menu" ngMenu #growthRateMenu="ngMenu" id="growth-rate-menu">
                                <ng-template ngMenuContent>
                                    @for(rate of rates; track rate){
                                    <div class="submenu-item" ngMenuItem [value]="getFilterItem('growthRate', rate)"
                                       [class.chosen-item]="growthRate() === rate">
                                        <span class="label">{{'RATES.' + rate | uppercase | transloco}}</span>
                                    </div>
                                    }
                                </ng-template>
                            </div>
                        </ng-template>

                        <div role="separator" aria-orientation="horizontal" class="separator"></div>

                        <div class="menu-item" ngMenuItem value="humanPalatable" #humanPalatableItem
                            [submenu]="humanPalatableMenu()" [class.chosen-item]="humanPalatable()!== undefined">
                            <span class="label">
                                {{'HUMAN_PALATABLE' | transloco}}
                            </span>
                            <app-icon class="menu-arrow" stroke="white" name="arrow"></app-icon>
                        </div>

                        <ng-template [cdkConnectedOverlayOpen]="filterMenu.visible()"
                            [cdkConnectedOverlay]="{origin: humanPalatableItem, usePopover: 'inline'}"
                            [cdkConnectedOverlayPositions]="[
          {originX: 'end', originY: 'top', overlayY: 'top', overlayX: 'start', offsetX: 6},
                        ]" cdkAttachPopoverAsChild>
                            <div class="menu" ngMenu #humanPalatableMenu="ngMenu" id="human-palatable-menu">
                                <ng-template ngMenuContent>
                                    @for(bool of booleans; track bool){
                                    <div class="submenu-item" ngMenuItem
                                        [value]="getFilterItem('humanPalatable', bool)" [class.chosen-item]="humanPalatable() === bool">
                                        <span class="label">{{'BOOLEAN.' + bool | uppercase | transloco}}</span>
                                    </div>
                                    }
                                </ng-template>
                            </div>
                        </ng-template>

                    </ng-template>
                </div>

            </ng-template>
            <button class="clear-btn" (click)="clearFilters()">{{ 'CLEAR' | transloco }}</button>
            <button class="menu-trigger-btn" ngMenuTrigger #sortMenuTrigger #sortTrigger="ngMenuTrigger"
                [menu]="sortMenu()">{{'SORT' | transloco}}</button>

            <ng-template [cdkConnectedOverlayOpen]="sortTrigger.expanded()"
                [cdkConnectedOverlay]="{origin: sortMenuTrigger, usePopover: 'inline'}" [cdkConnectedOverlayPositions]="[
        {originX: 'start', originY: 'bottom', overlayX: 'start', overlayY: 'top', offsetY: 4},
      ]" cdkAttachPopoverAsChild>

                <div class="menu" id="sort-menu" ngMenu #sortMenu="ngMenu" (itemSelected)="onSortItemSelected($event)">
                    <ng-template ngMenuContent>
                        @for(option of sortOptions; track option){
                        <div ngMenuItem [value]="option" [disabled]="(sortOptionsEmitter$ | async) === option"
                            class="menu-item" [class.chosen-item]="(sortOptionsEmitter$ | async) === option">
                            <span class="label">{{ 'SORT_OPTIONS.' + option | uppercase | transloco}}</span>
                        </div>
                        }
                        <div ngMenuItem [value]="'order'" class="menu-item">
                            <span class="label">{{sortOptionDirection() }}</span>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="filter-title-container">
        <h1 class="filter-title" id="filter-search-title">{{'NATIVE_PLANTS_IN' | transloco}} </h1>
        <div ngCombobox filterMode="auto-select">
            <div class="autocomplete" #countyOrigin>
                <input #countyNameInput="ngComboboxInput" ngComboboxInput [(ngModel)]="geolocationCountyNewQuery"
                    (valueChange)="handleNameInput($event)" #countyInput
                    [placeholder]="'COUNTY_PLACEHOLDER' | transloco" id="county-choice" class="input-counties"
                    (focus)="countyInput.select()" aria-labelledby="filter-search-title" autocomplete="off"
                    autocorrect="off" autocapitalize="none" spellcheck="false" />
            </div>
            <ng-template ngComboboxPopupContainer>
                <ng-template [cdkConnectedOverlay]="{origin: countyOrigin,  usePopover: 'inline', matchWidth: true}"
                    [cdkConnectedOverlayOpen]="geolocationCountyNewQuery().length > 0">
                    <div class="county-popup">
                        @if(filteredCounties()?.length === 0)
                        {
                        <div class="no-results">{{'NO_COUNTRIES_FOUND' | transloco}}</div>
                        }

                        <div class="listbox" ngListbox>
                            @for(county of filteredCounties(); track county.countyFip){
                            <div class="option" ngOption [value]="county.countyName + ' - ' + county.stateAbbrev"
                                [label]="county.countyName + ' - ' + county.stateAbbrev">
                                <span class="option-label"> {{county.countyName + ' - ' + county.stateAbbrev}}</span>
                            </div>
                            }
                        </div>
                    </div>

                </ng-template>
            </ng-template>
        </div>
    </div>
</section>