/* eslint-disable css/use-baseline */
h2,
h1 {
    margin: 0;
}

#plant-search-container {
    gap: .5em;
    display: flex;
    width: 100%;
    align-items: flex-start;
    text-align: center;
    container-type: inline-size;
}

.filter-title-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: .5em;
    flex-wrap: wrap;
    min-width: 0;
    overflow: visible;
}

.filter-title {
    font-weight: 600;
    font-size: clamp(1rem, 2cqi, 3rem);
    align-content: center;
}


.searchbar {
    align-self: flex-start;
    width: 100%;
    box-sizing: border-box;
    font-size: clamp(1rem, 1.15cqi, 1.8rem);
}

.row {
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: max(.1em, 2vw);
}

.row,
.col,
.search-container {
    display: flex;
    gap: 2px;
}

.search-container {
    text-align: left;
}

.col {
    flex-direction: column;
    max-width: 450px;
}

.sortOrderButton {
    color: black;
    font-weight: bold;
    width: 6ch;
    padding: .5ch;
    margin: 0;
}

.selector {
    width: 100%;
}

.label {
    font-weight: bold;
}

.sort-label {
    flex-grow: 1;
}

.sort-label-row {
    display: inline-flex;
}

.sort-container {
    align-items: center;
}

.input-counties {
    width: min(100%, 30ch);
    max-width: 40ch;
    font-weight: 600;
    text-overflow: ellipsis;
    font-size: clamp(1rem, 2cqi, 3rem);
    box-sizing: border-box;
}

[ngCombobox]:has([aria-expanded='false']) .county-popup {
    display: none;
}

[ngListbox] {
    display: flex;
    flex-direction: column;
    background-color: var(--grass-light-green);
    border-left: .2em solid var(--wood-dark-brown);
    border-right: .2em solid var(--wood-dark-brown);
    border-bottom: .2em solid var(--wood-dark-brown);
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}

[ngOption] {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: .5em;
    min-height: 2em;
    height: auto;
    flex-shrink: 0;
    box-sizing: border-box;
}

[ngOption]:not(:last-child) {
    border-bottom: .1em solid var(--wood-dark-brown);
}

[ngOption][aria-selected='true'] {
    background-color: var(--grass-green);
}

.county-popup {
    max-height: max(6em, 50vh);
    font-size: .9em;
    width: 100%;
}

.no-results,
[ngMenuTrigger],
.clear-btn,
[ngMenu],
.input-counties,
.sortOrderButton,
.searchbar {
    background-color: var(--grass-light-green);
}

.no-results {
    border-left: .2em solid var(--wood-dark-brown);
    border-right: .2em solid var(--wood-dark-brown);
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

[ngMenuTrigger],
.clear-btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: .15em solid var(--wood-dark-brown);
    width: fit-content;
}

.clear-btn:hover {
    background: var(--grass-green);
}

[ngMenu] {
    margin: 0;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: .15em solid var(--wood-dark-brown);
    font-weight: bold;
}

[ngMenu][data-visible='false'] {
    display: none;
}

[ngMenuItem] {
    outline: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    font-size: 0.875em;
    justify-content: space-between;
}

[ngMenuItem]:first-of-type {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

[ngMenuItem]:last-of-type {
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.chosen-item {
    cursor: pointer;
    background-color: var(--wood-light-brown);
}

[ngMenu] .separator {
    border-top: .2em solid var(--wood-dark-brown);
    margin: 0;
    opacity: 0.5;
}

.submenu-item:not(:last-child) {
    border-bottom: .1em solid var(--wood-dark-brown);
}

.menu-arrow {
    transform: rotate(180deg) scale(.75);
}

[ngMenuTrigger]:hover,
[ngMenuItem][data-active='true'] {
    background: var(--grass-green);
}