<section id="plant-search-container">
    <div class="col">
        <input type="text" name="searchbar" id="searchbar" #searchBar (input)="search(searchBar.value)"
            [placeholder]="'SEARCHBAR_PLACEHOLDER' | transloco" class="searchbar">
        <div class="row">
            <button class="menu-trigger-btn" ngMenuTrigger #filterMenuTrigger #trigger="ngMenuTrigger"
                [menu]="filterMenu()">{{'FILTERS' |
                transloco}}</button>
            <ng-template [cdkConnectedOverlayOpen]="trigger.expanded()"
                [cdkConnectedOverlay]="{origin: filterMenuTrigger, usePopover: 'inline'}"
                [cdkConnectedOverlayPositions]="[
    {originX: 'start', originY: 'bottom', overlayX: 'start', overlayY: 'top', offsetY: 4},
  ]" cdkAttachPopoverAsChild>
                <div class="menu" id="filter-menu" ngMenu #filterMenu="ngMenu"
                    (itemSelected)="onFilterItemSelected($event)">
                    <ng-template ngMenuContent>
                        <div class="menu-item" value="duration" ngMenuItem #durationItem [submenu]="durationMenu()">
                            <span class="label">{{'DURATION' | transloco}}</span>
                            <app-icon class="menu-arrow" stroke="white" name="arrow"></app-icon>
                        </div>

                        <ng-template [cdkConnectedOverlayOpen]="filterMenu.visible()"
                            [cdkConnectedOverlay]="{origin: durationItem , usePopover: 'inline'}"
                            [cdkConnectedOverlayPositions]="[
          {originX: 'end', originY: 'top', overlayY: 'top', overlayX: 'start', offsetX: 6},
        ]" cdkAttachPopoverAsChild>
                            <div class="menu" id="duration-menu" ngMenu #durationMenu="ngMenu">
                                <ng-template ngMenuContent>
                                    @for(duration of durations; track duration){
                                    <div ngMenuItem [value]="duration" [disabled]="durationEmitter$.value === duration"
                                        class="submenu-item"
                                        [class.chosen-item]="(durationEmitter$ | async) === duration">
                                        <span class="label">{{'DURATIONS.' + duration| uppercase | transloco}}</span>
                                    </div>
                                    }
                                </ng-template>
                            </div>
                        </ng-template>
                        <div role="separator" aria-orientation="horizontal" class="separator"></div>

                        <div class="menu-item" value="growthHabits" ngMenuItem #growthHabitItem
                            [submenu]="growthHabitMenu()">
                            <span class="label">{{'GROWTH_HABIT' | transloco}}</span>
                            <app-icon class="menu-arrow" stroke="white" name="arrow"></app-icon>
                        </div>

                        <ng-template [cdkConnectedOverlayOpen]="filterMenu.visible()"
                            [cdkConnectedOverlay]="{origin: growthHabitItem , usePopover: 'inline'}"
                            [cdkConnectedOverlayPositions]="[
          {originX: 'end', originY: 'top', overlayY: 'top', overlayX: 'start', offsetX: 6},
        ]" cdkAttachPopoverAsChild>
                            <div class="menu" id="growth-habit-menu" ngMenu #growthHabitMenu="ngMenu">
                                <ng-template ngMenuContent>
                                    @for(growthHabit of growthHabits; track growthHabit){
                                    <div ngMenuItem [value]="growthHabit" class="submenu-item"
                                        [disabled]="(growthHabitEmitter$ | async) === growthHabit"
                                        [class.chosen-item]="(growthHabitEmitter$ | async) === growthHabit">
                                        <span class="label">{{'GROWTH_HABITS.' + growthHabit| uppercase |
                                            transloco}}</span>

                                    </div>
                                    }
                                </ng-template>
                            </div>
                        </ng-template>
                    </ng-template>
                </div>

            </ng-template>
            <button class="clear-btn" (click)="clearFilters()">{{ 'CLEAR' | transloco }}</button>
        </div>
    </div>
    <div class="col">
        <div name="sort-container" id="sort-container" class="sort-container col">
            <span class="label sort-label">{{'SORT' | transloco}}</span>
            <select name="sortSelector" id="sortSelector" #sortSelector class="selector"
                [attr.aria-label]="'SORT' | transloco" (change)="changeSortOption(sortSelector.value)">
                @for (option of sortOptions; track $index) {
                <option [value]="option">{{ 'SORT_OPTIONS.' + option | uppercase | transloco}}</option>
                }
            </select>
            <button class="sortOrderButton" id="sortOrderButton" (click)="toggleSortOptionDirection()"
                [attr.aria-label]="('SORT' | transloco) + ' ' + sortOptionDirection">
                {{sortOptionDirection()}}
            </button>
        </div>
    </div>

    <div class="filter-title-container">
        <h1 class="filter-title" id="filter-search-title">{{'NATIVE_PLANTS_IN' | transloco}} </h1>
        <div ngCombobox filterMode="auto-select">
            <div class="autocomplete" #countyOrigin>
                <input #countyNameInput="ngComboboxInput" ngComboboxInput [(ngModel)]="geolocationCountyNewQuery"
                    #countyInput [placeholder]="'COUNTY_PLACEHOLDER' | transloco" id="county-choice"
                    class="input-counties" (focus)="countyInput.select()" aria-labelledby="filter-search-title"
                    autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" />
            </div>
            <ng-template ngComboboxPopupContainer>
                <ng-template [cdkConnectedOverlay]="{origin: countyOrigin,  usePopover: 'inline', matchWidth: true}"
                    [cdkConnectedOverlayOpen]="geolocationCountyNewQuery().length > 0">
                    <div class="county-popup">
                        @if(filteredCounties()?.length === 0)
                        {
                        <div class="no-results">{{'NO_COUNTRIES_FOUND' | transloco}}</div>
                        }

                        <div class="listbox" ngListbox>
                            @for(county of filteredCounties(); track county.countyFip){
                            <div class="option" ngOption [value]="county.countyName + ' - ' + county.stateAbbrev"
                                [label]="county.countyName + ' - ' + county.stateAbbrev">
                                <span class="option-label"> {{county.countyName + ' - ' + county.stateAbbrev}}</span>
                            </div>
                            }
                        </div>
                    </div>

                </ng-template>
            </ng-template>
        </div>
    </div>
</section>